
.box1 {
  height: 200px;/*Boxにサイズを与えてあげる*/
  background-image: url(img/box1.jpg);
  background-size:　cover;
  background-position: center;
}
.box2 {
  height: 200px;
  background-image: url(img/box2.jpg);
  background-size:　cover;
  background-position: 100%;
}
.box3 {
  height: 200px;
  background-image: url(img/box3.jpg);
  background-size:　cover;
  background-position: center;
}

.box4 {
  height: 200px;
  background-image: url(img/box4.jpg);
  object-fit: cover;
  background-position: center;
}

