*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  color:#6c6b6b;
}


header {
  height: 400px;
  width: 100%;
  background-image: url(img/mv.jpg);
  background-size: cover;
  background-position: bottom;
}

.title{
  float: left;
  margin:20px 20px;
}

main {
  padding:50px 0 50px 0;/*margin: 50px auto;をいれればblogのmargin:0 auto;は不要*/
}
.section{
  width: 840px;
  margin:0 auto;
  padding-top:30px;
  padding-bottom:30px;
  border-bottom: 1px solid gray;
}